.body{
        width: 100%;
    text-align: center;
}
.main{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto 0;
    padding: 5px;
}
@media only screen and (max width:600px){

    .first{
        width:100%
    }
    .seccnd{
        width:100%
    }
    .third{
        width:100%
    }

    .aa{
        width:50%;
        
    }
     .mainss{
         width: 100%;
     }   
    .picone{
        width: 100%;
        display: block;
    }
    .pictwo{
        width: 100%;
        display: block;
        }
    .picthree{
        width: 100%;
    }
    .picfour{
        width: 100%;
    }
    .aab{
        
        width: 20%;
    }   
    .mainfifth{
        width: 100%;
    }
    .onep{
        width: 100%;
    }
    .twop{
        width: 100%;
    }
    .at{
        width: 100%;
    }
    .nm{
        width: 100%;
    }
    #bb{
        height: 150px;
    }

}





.first{

}
.second{

}
.third{
margin-top: 10px ;
}
.b{
    margin-top: 10px;
    display: inline;
}
.c{
    margin-left: 10px;   
    height: 20px;
}
.d{
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}
.e{
    
    font-size: 12px;
    background-color:white;
    color:green;
    padding:4px;
    display: inline;
    
}
.mainone{
    margin-top: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: lightgrey 0px 5px;
}
.forth{
    height:50px;
}
.fifth{

}
.g{
    display: inline-block;
}
.third{
    margin-top: 10px;
}
.cc:hover{
    color:white;
    background-color: royalblue;
    border: royalblue;
    border-radius:30px ;
}
.s{

    margin-left: 20px;
    margin-right: 20px;
    
}
.ss{
    color:white;
}
#t{
    color: green;
    text-align: center;
    display: inline;
}
#u{
    color:blue;
    display: inline;
}
.aa{
    margin-top: 30px;
    text-align: center;
}
#v{
    height:50px;
}
.v{
    color: gray;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}
.mainss{
   width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}
.picone{}
.pictwo{}
.picthree{}
.picfour{}
#w{
    margin-left: 30px; 
    height: 50px;
    margin-top: 100px;
}
.x{
    color: whitesmoke;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
   text-align: center;
}
.xx{
    color: whitesmoke;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
}
.aab{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
}
.mainfifth{
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
.onep{
    box-shadow: gray 1px 1px 12px 0px;
    text-align: center;
    padding: 10px;
    padding-right: 50PX;
    padding-left: 50PX;
}
.twop{

    box-shadow: gray 1px 1px 12px 0px;
    text-align: center;
    padding: 10px;
    padding-right: 50PX;
    padding-left: 50PX;
}
.threep{
    box-shadow: gray 1px 1px 12px 0px;
    text-align: center;
    padding: 10px;
    padding-right: 50PX;
    padding-left: 50PX;
}
.bh{
    width: 100%;
    background-color:whitesmoke;
}
.as{

    text-indent: 5px;
    text-align: start;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.at{
    margin-top: 5px;
    margin-left:40px;
	width:300px;
    border:solid 1px gainsboro;
    background-color:whitesmoke;
	height:60px;

}
    #at{
        margin-left: 30px;
        margin-right:100px;
        margin-top:15px;
        
        }
    #att{
        display:inline-block;	
        color:royalblue;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        vertical-align:top;
        margin-top:20px;
        margin-right:50px;
    }
    #au{
        margin-left: 30px;
        margin-right:100px;
        margin-top:15px;
        
        }
    #auu{
        font-size: 12px;
        display:inline-block;	
        color:royalblue;
        vertical-align:top;
        margin-top:20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;  
    }
    .au{
       margin-top: 5px;
        padding-right: 5px;
        margin-left:40px;
	width:300px;
    border:solid 1px gainsboro;
    background-color:whitesmoke;
	height:60px;
	display:inline-block;
    }
    #av{
        margin-left: 30px;
        margin-right:100px;
        margin-top:15px;
        }
    #avv{
        font-size: 12px;
        display:inline-block;	
        color:royalblue;
        vertical-align:top;
        margin-top:20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;  
    }
    .av{
        margin-top: 5px;
        padding-right: 5px;
        margin-left:40px;
	width:300px;
    border:solid 1px gainsboro;
    background-color:whitesmoke;
	height:60px;
	display:inline-block;
    }
    #aw{
        margin-left: 30px;
        margin-right:100px;
        margin-top:15px;
        
        }
    #aww{
        font-size: 12px;
        display:inline-block;	
        color:royalblue;
        vertical-align:top;
        margin-top:20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;  
    }
    .aw{
        margin-top: 5px;
        padding-right: 5px;
        margin-left:40px;
	width:300px;
    border:solid 1px gainsboro;
    background-color:whitesmoke;
	height:60px;
	display:inline-block;
    }
.ads{
    vertical-align: text-top;
    text-indent: 5px;
    text-align: top;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
#bb:hover{
	height:150;
	
	border:3px solid green;
}
#bb{
    
    height: 100px;
}
.nnm{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nm{

}
.last{
    margin-top: 100px;
}
#bg{
    margin-top: 300px;


}
.xxz{
    color:white;
}
#be{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.hum{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}